*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.main-container{
    height: 100vh;
    width:100vw;
}


.header{
    display: flex;
    justify-content: space-around;
    width: 1440px;
    height: 60px;
    gap: 10px ;
    background-color: #ffff;
}
.header-left{
margin: 0 auto;
flex: none;
order: 0;
flex-grow: 0;
width: 184px;
height: 60px;
}

.header-right{
    display: flex;
    gap: 12px;
    width: 591px;
    font-size: 16px;
    line-height: 19.5px;
    font-weight: 500;
    font-family: Montserrat Alternates ;
}


.header-right button{
    border: none;
    background-color: transparent;
    gap: 1rem;
    color: #00000080;
    font-weight: 500px;
    font-size: 16px;
    font-family: 'Montserrat Alternates';
    

}
#reach{
    background-color:#000000;
    color: white;
    border-radius: 8px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
    line-height: 19.5px;
    font-weight: 500;
    padding: 10px;
    gap: 10px;
    margin-top: 10px;
    width: 150px;
    height: 40px;
    

}

.title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 797px;
    height: 388px;
    left: calc(50% - 797px/2 + 0.5px);
    gap: 30px;
    top: 158px;}
    
#title-container-header {
    font-family: 'Montserrat Alternates';
    font-size: 80px;
    font-weight: 600;
    line-height: 97.52px;
    text-align: center;
    width: 797px;
    height: 196px;}

.title-container button{
    border: none;
    background-color: transparent;
}

#title-container-paragraph{
    width: 650px;
    height: 72px;
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    text-transform: capitalize;
    color: rgba(34, 34, 34, 0.8);
    line-height: 182%;
    flex: none;
    order: 1;
    flex-grow: 0;

}

.explore-button .explore-image {
    width: 251px; 
    padding: 10px;
    border-radius: 100px;
    height: 60px;
    gap: 10px;
}