* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    padding-top: 60px;
}

.header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    gap: 10px;
    background-color: #fff;
    position: fixed;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-left {
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 184px;
    height: 60px;
}

.header-right {
    display: flex;
    gap: 20px;
    width: 591px;
    font-size: 16px;
    line-height: 19.5px;
    font-weight: 500;
    font-family: 'Montserrat Alternates';
}

.header-right button {
    border: none;
    background-color: transparent;
    color: #00000080;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Montserrat Alternates';
}
.header-right button:hover{
    background-color: transparent;
    color: #00000080;
}
#reach {
    background-color: #000;
    color: white;
    border-radius: 8px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
    line-height: 19.5px;
    font-weight: 500;
    padding: 10px;
    margin-top: 10px;
    width: 150px;
    height: 40px;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    gap: 20px;
    margin-top: 60px;

}

#title-container-header {
    font-family: 'Montserrat Alternates';
    font-size: 80px;
    font-weight: 600;
    line-height: 97.52px;
    text-align: center;
    width: 100%;
}

#title-container-paragraph {
    width: 650px;
    font-family: 'Plus Jakarta Sans';
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    text-transform: capitalize;
    color: rgba(34, 34, 34, 0.8);
    line-height: 1.82;
}

.title-container button {
    border: none;
    background-color: transparent;
}

.explore-button .explore-image {
    width: 251px;
    padding: 10px;
    border-radius: 100px;
    height: 60px;
}

.photo-center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* padding: 20px 0; */
    box-sizing: border-box;
    flex-grow: 1;
}

.photo {
    width: 100%;
    max-width: 1150px;
    height: auto;
}

.content-container {
    display: flex;
    width: 1152px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    gap: 1rem;
    justify-content: space-between;
}

.content-container-heading {
    width: 595px;
    font-family: Montserrat Alternates;
    font-size: 86px;
    font-weight: 600;
    line-height: 104.83px;
    text-align: left;
}

.content-container-para {
    width: 530px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 29.7px;
    text-align: left;
    padding-top: 20px;
}

.project {
    width: 956px;
    margin: 80px auto;
    text-align: center;
}

#project-heading {
    font-size: 34px;
    font-weight: 600;
    text-decoration: underline;
    color: #000000;
    font-family: 'Montserrat Alternates';
}

#project-para {
    width: 936px;
    height: 87px;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: rgba(0, 0, 0, 0.8);
    margin: 20px 0;
    text-align: left;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.box {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
    background-color: #E0E0E0;
    border-radius: 8px;
    position: relative;
    background: #D9D9D9;
}

.box1 {
    width: 252px;
    height: 167px;
}

.box2 {
    width: 398px;
    height: 530px;
}

.box2 p {
    position: absolute;
    bottom: 10px;
    right: 260px;
}

.box3 {
    width: 298px;
    height: 447px;
    margin-left: 110px;
    margin-top: -250px;
}

.box p {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    background: #FFFFFF;
    position: absolute;
    width: 190px;
    height: 80px;
}

.box1 p {
    top: 130px;
    left: 212px;
}

.box3 p {
    bottom: 50px;
    left: 212px;
}

.details-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 297px;
    height: 44px;
    margin: 40px auto 0;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 50px;
    font-family: 'Montserrat Alternates';
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.details-button img {
    width: 24px;
    height: 24px;
}

.details-button:hover img {
    transform: scale(1.1);
    transition: transform 0.2s;
}

.article {
    width: 1000px;
    height: 684px;
    text-align: center;
    margin-left: 110px;
}

.article h2 {
    font-family: Montserrat Alternates;
    font-size: 24px;
    font-weight: 600;
    line-height: 39.6px;
    text-align: left;
    margin-left: 15px;
    margin-top: 50px;
    width: 279px;
    height: 40px;
    gap: 0px;
    opacity: 0px;

}

.grid {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 1rem;
}

.programs,
.journals,
.media {
    width: 30%;
}

.programs img,
.journals img,
.media img {
    width: 100%;
    height: 280px;
    top: 69px;
}

#article-heading {
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-weight: 600;
    line-height: 26.4px;
    text-align: left;
    margin-top: 20px;
}

#article-para {
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.4px;
    text-align: left;
    margin-top: 20px;
    color: rgba(34, 34, 34, 0.8);
}

#scroll-img {
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
